.title{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.about{
    font-family: "Montserrat", sans-serif;
    line-height: 2.3em;
    display: block;
    width: 60vw;
    margin-top:40px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.aboutContent{
    padding:1em;
}
.about p{
    padding:1em;
}
.about-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .testimonial-card {
    flex-basis: 100%; /* Full width on tablets and mobile */
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  }
  
  .testimonial-image {
    width: 80px; /* Set a width of 80px */
    height: auto;
    margin-bottom: 10px;
  }
  
  .testimonial-content {
    font-size: 14px;
    line-height: 1.5;
    color: #555555;
  }
  
  .testimonial-author {
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Desktop Styles - 3 columns */
  @media (min-width: 992px) {
    .testimonial-card {
      flex-basis: calc(33.33% - 20px);
    }
  }
  