

section {
    min-width: 280px;
    max-width: 600px;
    padding: 1rem 2rem 1rem;
    background-color: #6C5336;
    border-radius: 8px;
    margin: 50px auto;
    color: white;
    font-size: 0.8rem;
    background: linear-gradient(45deg, #C2A66E, #EFEBE0);
	background-size: 100% 100%;
    box-shadow: 2px 2px 6px #1D1B1E;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    margin: 0 2rem;
    text-align: center; 
}

.sectionTitle h1 {
    display: table;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-transform:capitalize;
    margin: 40px auto;
    color:white;
    text-align: center;
}
form {
    display: table;
    margin: 40px auto;
}
form input, form textarea {
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 15px;
    max-width: 400px;
    min-width: 280px;
    margin-bottom: 15px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
form input::placeholder, form textarea::placeholder {
    transition: all 0.2s ease-in-out;
    color: rgb(26, 26, 26);
    font: 18px Helvetica, Arial, sans-serif;
}
form input:focus, form textarea:focus, form input.populated, form textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}
form input:focus::placeholder, form textarea:focus::placeholder, form input.populated::placeholder, form textarea.populated::placeholder {
    color: transparent;
}
form textarea {
    height: 200px;
}
.formButton {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1792e8;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.formButton:hover {
    background: #0e82d4;
    cursor: pointer;
}

.sentMessage {
    font: 18px Helvetica, Arial, sans-serif;
    transition: all 0.2s ease-in-out;
    color: #999;
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

.mt5 {
    margin-top: 5px;
}
.chat{
    width:40vw;

}
