

section {
    min-width: 280px;
    max-width: 100%;
    padding: 1rem 2rem 5rem;
    background-color: #393939;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    margin: 50px auto;
    color: #384d4a;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
}

.hp {
    display: none;
}

.container {
    margin: 0 2rem;
    text-align: left; 
}

.sectionTitle {
    display: table;
    margin: 20px auto;
    color:white;
    font: 2.8em Roboto;
    
    /* text-transform: uppercase; */
    letter-spacing: 6px;
    text-align: center;
}
form {
    display: table;
    margin: 40px auto;
}
form input, form textarea {
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 20px;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
form input::placeholder, form textarea::placeholder {
    transition: all 0.2s ease-in-out;
    color: rgb(130, 129, 129);
    font: 18px Helvetica, Arial, sans-serif;
}
form input:focus, form textarea:focus, form input.populated, form textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}
form input:focus::placeholder, form textarea:focus::placeholder, form input.populated::placeholder, form textarea.populated::placeholder {
    color: transparent;
}
form textarea {
    height: 200px;
}
.formButton {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1792e8;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 101;
}
.formButton:hover {
    background: #0e82d4;
    cursor: pointer;
}

.sentMessage {
    font: 18px Helvetica, Arial, sans-serif;
    transition: all 0.2s ease-in-out;
    color: #999;
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

.mt5 {
    margin-top: 5px;
}

