/* Global Styles for Mobile Devices */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

/* Base styles for mobile devices */
.hero {
  display: grid;
  flex-direction: column;
  place-content: center;
  background-color: #1D1B1E;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.heroContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  place-content: center;
  color: white;
  padding: 2em;
  max-height: 35em;
  max-width: 70em;
  border-radius: 1em;
  text-align: center;
}

.greenunder {
  border-color: green;
  border-bottom-style: solid;
}

.heroTitle {
  font-size: 5em;
}

.details h2 {
  font-size: 3em;
  margin: 0;
}

.cta {
  padding: 1em;
}

.ctaButtonSolid {
  display: inline-block;
  background: radial-gradient(circle at var(--x) var(--y), #C2A66E, #6C5336);
  box-shadow: 0 0 0 #61045F inset, 0 4px 8px rgba(50, 0, 0, 0.2), 0 2px 4px rgba(128, 0, 0, 0.3);
  border-radius: 1em;
  padding: 1em;
  max-width: 20em;
  width: 20em;
  margin: 1em;
}

.ctaButtonOpen {
  display: inline-block;
  border-color: #C2A66E;
  border-radius: 1em;
  border-style: solid;
  padding: .8em;
  max-width: 18em;
  margin: 1em;
  width: 20em;
}

/* Additional Styles for Larger Screens (Add as needed) */
@media (min-width: 768px) {
  .heroTitle {
    font-size: 4em;
  }

  .details h2 {
    font-size: 2.6em;
  }

  .details p {
    font-size: 2em;
  }
}
