@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

.hero{
 display: grid;
 flex-direction: column;
 place-content: center;
 background-color: #1D1B1E;
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
 height: 100vh;
}
.heroContainer{
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 place-content: center;
	color: white;
	padding: 2em;
	max-height: 35em;
	max-width: 70em;
	border-radius: 1em;
	
text-align: center;

}

.greenunder {
  border-color: green;
  border-bottom-style: solid;
}
.heroTitle{
  font-size: 5em;
}
.details h2{
  font-size: 3em;
  margin:0;
}

.cta{
 padding: 1em;
}
.ctaButtonSolid {
  display: inline-block;
  background: radial-gradient(circle at var(--x) var(--y) , #C2A66E, #6C5336);
	box-shadow:  0 0 0 #61045F inset,0 4px 8px rgba(50,0,0,0.2), 0 2px 4px rgba(128,0,0,0.3);
  border-radius: 1em;
  padding: 1em;
  max-width: 20em;
  width: 20em;
  margin:1em;
}

.ctaButtonOpen {
  display: inline-block;
  border-color: #C2A66E;
  border-radius: 1em;
  border-style: solid;
  padding: .8em;
  max-width: 18em;
  margin:1em;
  width: 20em;
}

@media(min-width:0px){
  .heroTitle{
    font-size: 2.6em;
  }
  .details h2{
    font-size: 2em;
  }
  .details p{
    font-size: 1.6em;
  }
}
@media(min-width:700px){
  .heroTitle{
    font-size: 4em;
  }
  .details h2{
    font-size: 2.6em;
  }
  .details p{
    font-size: 2em;
  }
}

/* *** old stuff
.hero {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.hero .heroContainer{

}

.greenunder{
  border-bottom: 8px solid #7cc576;
}

.hero .image {
    
}

.details {
  font-family: var(--font-monospace);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;  
}

.title {
  margin: 0 0 30px 0;
  font-size: 2.8rem;
  font-weight: 900;
  color: #fff !important;
}

.right{
  background-color: white;
  color:black;
  border-radius: 3px;
}
.content {
  
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-weight: 400;
  z-index: 10;
  position:absolute;
  top:0;
  left:0;
}

.button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #7cc576;
}


@media (min-width: 480px) {
  .details {
    
    
  }
  .right{
    
    
    
  }
}

@media (min-width: 768px) {
  .hero {
   
  }

  .details {
    
    
  }
  .left{
    
   
  }
  .right{
    background-color: white;
    color: black;
    z-index: 10;
    box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 3px;
    border-color: rgba(0, 255, 255, 0.15);
  }
}

@media (min-width: 1024px) {
  .image {
    
    
  }

  .details {
   
   
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    
  }
}
 */