@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Global Styles for Mobile Devices */
body {
  font-size: 16px; /* Base font size for mobile */
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem; /* Use responsive units like 'rem' for padding */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 1rem; /* Adjust the spacing for mobile */
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  font-family: var(--font-sans);
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  font-family: var(--font-sans);
  gap: 1rem; /* Adjust the spacing for mobile */
}

.logo {
  height: var(--size-logo);
  width: var(--size-logo);
  display: block;
}

.tsParticles {
  position: absolute;
  padding: unset;
  width: 100%;
  height: 200px; /* Use responsive units like 'rem' or 'vw' for height */
  z-index: -1;
  font-family: 'Orbitron', sans-serif;
}

/* Media Query for Larger Screens (Add as needed) */
@media (min-width: 768px) {
  .container {
    padding: 2rem 4rem; /* Adjust padding for larger screens */
  }

  .navigation {
    gap: 2rem; /* Adjust the spacing for larger screens */
  }

  .logoLink {
    gap: 2rem; /* Adjust the spacing for larger screens */
  }
}
